@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    /* 默认配色 */
    body {
        font-family: "Roboto", "Noto Sans SC";
    }

    /* 全局聚焦配色 */
    * {
        @apply ring-black/50 dark:ring-white/50;
    }
    /* 不显示滚动条 */
    ::-webkit-scrollbar {
        @apply hidden;
    }

    /* label默认针对checkbox、radio、switch组件 */
    label {
        @apply flex flex-row items-center justify-between gap-2;
    }

    /* h1 ~ h6的字体宽度 */
    h1 {
        @apply font-bold;
    }
    h2,
    h3 {
        @apply font-bold;
    }
    p {
        @apply font-normal;
    }
    /* 字体颜色 */
    h1,
    h2,
    h3,
    p,
    b,
    i,
    mark {
        color: var(--md-sys-color-primary)
    }
    mark {
        @apply bg-green-200/50 text-black px-2;
    }
    header > h1 {
        @apply text-2xl;
    }

    /* 
     * Material Web Components Baseline color scheme tokens
     * https://m3.material.io/styles/color/the-color-system/tokens#7fd4440e-986d-443f-8b3a-4933bff16646
     * https://lit.dev/playground/#gist=abcc77f636c1b76506df860db6dc0faf&view-mode=preview
     */
    :root {
        --md-sys-color-background: #f9f9f9;
        --md-sys-color-on-background: #1b1b1b;
        --md-sys-color-surface: #f9f9f9;
        --md-sys-color-surface-dim: #dadada;
        --md-sys-color-surface-bright: #f9f9f9;
        --md-sys-color-surface-container-lowest: #ffffff;
        --md-sys-color-surface-container-low: #f3f3f3;
        --md-sys-color-surface-container: #eeeeee;
        --md-sys-color-surface-container-high: #e8e8e8;
        --md-sys-color-surface-container-highest: #e2e2e2;
        --md-sys-color-on-surface: #1b1b1b;
        --md-sys-color-surface-variant: #e2e2e2;
        --md-sys-color-on-surface-variant: #474747;
        --md-sys-color-inverse-surface: #303030;
        --md-sys-color-inverse-on-surface: #f1f1f1;
        --md-sys-color-outline: #747474;
        --md-sys-color-outline-variant: #c6c6c6;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #5e5e5e;
        --md-sys-color-primary: #000000;
        --md-sys-color-on-primary: #e2e2e2;
        --md-sys-color-primary-container: #3b3b3b;
        --md-sys-color-on-primary-container: #ffffff;
        --md-sys-color-inverse-primary: #c6c6c6;
        --md-sys-color-inverse-on-primary: #303030;
        --md-sys-color-secondary: #5e5e5e;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #d4d4d4;
        --md-sys-color-on-secondary-container: #1b1b1b;
        --md-sys-color-tertiary: #3b3b3b;
        --md-sys-color-on-tertiary: #e2e2e2;
        --md-sys-color-tertiary-container: #747474;
        --md-sys-color-on-tertiary-container: #ffffff;
        --md-sys-color-error: #ba1a1a;
        --md-sys-color-on-error: #ffffff;
        --md-sys-color-error-container: #ffdad6;
        --md-sys-color-on-error-container: #410002;
    }
    
    html > .dark {
        --md-sys-color-background: #131313;
        --md-sys-color-on-background: #e2e2e2;
        --md-sys-color-surface: #131313;
        --md-sys-color-surface-dim: #131313;
        --md-sys-color-surface-bright: #393939;
        --md-sys-color-surface-container-lowest: #0e0e0e;
        --md-sys-color-surface-container-low: #1b1b1b;
        --md-sys-color-surface-container: #1f1f1f;
        --md-sys-color-surface-container-high: #2a2a2a;
        --md-sys-color-surface-container-highest: #353535;
        --md-sys-color-on-surface: #e2e2e2;
        --md-sys-color-surface-variant: #474747;
        --md-sys-color-on-surface-variant: #c6c6c6;
        --md-sys-color-inverse-surface: #e2e2e2;
        --md-sys-color-inverse-on-surface: #303030;
        --md-sys-color-outline: #747474;
        --md-sys-color-outline-variant: #474747;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #c6c6c6;
        --md-sys-color-primary: #ffffff;
        --md-sys-color-on-primary: #1b1b1b;
        --md-sys-color-primary-container: #d4d4d4;
        --md-sys-color-on-primary-container: #000000;
        --md-sys-color-inverse-primary: #5e5e5e;
        --md-sys-color-inverse-on-primary: #ffffff;
        --md-sys-color-secondary: #c6c6c6;
        --md-sys-color-on-secondary: #1b1b1b;
        --md-sys-color-secondary-container: #474747;
        --md-sys-color-on-secondary-container: #e2e2e2;
        --md-sys-color-tertiary: #e2e2e2;
        --md-sys-color-on-tertiary: #1b1b1b;
        --md-sys-color-tertiary-container: #919191;
        --md-sys-color-on-tertiary-container: #000000;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-on-error: #690005;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error-container: #ffdad6;
      }
    
    html > .green {
        --md-sys-color-background: #fff8f7;
        --md-sys-color-on-background: #251917;
        --md-sys-color-surface: #fff8f7;
        --md-sys-color-surface-dim: #ecd5d2;
        --md-sys-color-surface-bright: #fff8f7;
        --md-sys-color-surface-container-lowest: #ffffff;
        --md-sys-color-surface-container-low: #fff0ef;
        --md-sys-color-surface-container: #ffe9e6;
        --md-sys-color-surface-container-high: #fae3e0;
        --md-sys-color-surface-container-highest: #f5dddb;
        --md-sys-color-on-surface: #251917;
        --md-sys-color-surface-variant: #fddbd7;
        --md-sys-color-on-surface-variant: #58413f;
        --md-sys-color-inverse-surface: #3b2d2c;
        --md-sys-color-inverse-on-surface: #ffedea;
        --md-sys-color-outline: #896e6b;
        --md-sys-color-outline-variant: #dfbfbc;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #386933;
        --md-sys-color-primary: #386933;
        --md-sys-color-on-primary: #ffffff;
        --md-sys-color-primary-container: #b9f1ac;
        --md-sys-color-on-primary-container: #002202;
        --md-sys-color-inverse-primary: #9dd592;
        --md-sys-color-inverse-on-primary: #043908;
        --md-sys-color-secondary: #5b6237;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #e0e7b1;
        --md-sys-color-on-secondary-container: #191e00;
        --md-sys-color-tertiary: #42673c;
        --md-sys-color-on-tertiary: #ffffff;
        --md-sys-color-tertiary-container: #c3eeb8;
        --md-sys-color-on-tertiary-container: #002202;
        --md-sys-color-error: #ba1a1a;
        --md-sys-color-on-error: #ffffff;
        --md-sys-color-error-container: #ffdad6;
        --md-sys-color-on-error-container: #410002;
    }
    html > .green.dark {
        --md-sys-color-background: #1c100f;
        --md-sys-color-on-background: #f5dddb;
        --md-sys-color-surface: #1c100f;
        --md-sys-color-surface-dim: #1c100f;
        --md-sys-color-surface-bright: #443634;
        --md-sys-color-surface-container-lowest: #160b0a;
        --md-sys-color-surface-container-low: #251917;
        --md-sys-color-surface-container: #291d1b;
        --md-sys-color-surface-container-high: #342725;
        --md-sys-color-surface-container-highest: #403130;
        --md-sys-color-on-surface: #f5dddb;
        --md-sys-color-surface-variant: #58413f;
        --md-sys-color-on-surface-variant: #dfbfbc;
        --md-sys-color-inverse-surface: #f5dddb;
        --md-sys-color-inverse-on-surface: #3b2d2c;
        --md-sys-color-outline: #896e6b;
        --md-sys-color-outline-variant: #58413f;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #9dd592;
        --md-sys-color-primary: #9dd592;
        --md-sys-color-on-primary: #043908;
        --md-sys-color-primary-container: #20511d;
        --md-sys-color-on-primary-container: #b9f1ac;
        --md-sys-color-inverse-primary: #386933;
        --md-sys-color-inverse-on-primary: #ffffff;
        --md-sys-color-secondary: #c4cb97;
        --md-sys-color-on-secondary: #2e330d;
        --md-sys-color-secondary-container: #444a22;
        --md-sys-color-on-secondary-container: #e0e7b1;
        --md-sys-color-tertiary: #a8d29d;
        --md-sys-color-on-tertiary: #143812;
        --md-sys-color-tertiary-container: #2b4f27;
        --md-sys-color-on-tertiary-container: #c3eeb8;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-on-error: #690005;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error-container: #ffdad6;
    }
    
    html > .red {
        --md-sys-color-background: #fff8f7;
        --md-sys-color-on-background: #251917;
        --md-sys-color-surface: #fff8f7;
        --md-sys-color-surface-dim: #ecd5d2;
        --md-sys-color-surface-bright: #fff8f7;
        --md-sys-color-surface-container-lowest: #ffffff;
        --md-sys-color-surface-container-low: #fff0ef;
        --md-sys-color-surface-container: #ffe9e6;
        --md-sys-color-surface-container-high: #fae3e0;
        --md-sys-color-surface-container-highest: #f5dddb;
        --md-sys-color-on-surface: #251917;
        --md-sys-color-surface-variant: #fddbd7;
        --md-sys-color-on-surface-variant: #58413f;
        --md-sys-color-inverse-surface: #3b2d2c;
        --md-sys-color-inverse-on-surface: #ffedea;
        --md-sys-color-outline: #896e6b;
        --md-sys-color-outline-variant: #dfbfbc;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #c00015;
        --md-sys-color-primary: #c00015;
        --md-sys-color-on-primary: #ffffff;
        --md-sys-color-primary-container: #ffdad6;
        --md-sys-color-on-primary-container: #410002;
        --md-sys-color-inverse-primary: #ffb4ac;
        --md-sys-color-inverse-on-primary: #690006;
        --md-sys-color-secondary: #81533f;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #ffdbcd;
        --md-sys-color-on-secondary-container: #321204;
        --md-sys-color-tertiary: #845326;
        --md-sys-color-on-tertiary: #ffffff;
        --md-sys-color-tertiary-container: #ffdcc2;
        --md-sys-color-on-tertiary-container: #2e1500;
        --md-sys-color-error: #ba1a1a;
        --md-sys-color-on-error: #ffffff;
        --md-sys-color-error-container: #ffdad6;
        --md-sys-color-on-error-container: #410002;
    }
    html > .red.dark {
        --md-sys-color-background: #1c100f;
        --md-sys-color-on-background: #f5dddb;
        --md-sys-color-surface: #1c100f;
        --md-sys-color-surface-dim: #1c100f;
        --md-sys-color-surface-bright: #443634;
        --md-sys-color-surface-container-lowest: #160b0a;
        --md-sys-color-surface-container-low: #251917;
        --md-sys-color-surface-container: #291d1b;
        --md-sys-color-surface-container-high: #342725;
        --md-sys-color-surface-container-highest: #403130;
        --md-sys-color-on-surface: #f5dddb;
        --md-sys-color-surface-variant: #58413f;
        --md-sys-color-on-surface-variant: #dfbfbc;
        --md-sys-color-inverse-surface: #f5dddb;
        --md-sys-color-inverse-on-surface: #3b2d2c;
        --md-sys-color-outline: #896e6b;
        --md-sys-color-outline-variant: #58413f;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #ffb4ac;
        --md-sys-color-primary: #ffb4ac;
        --md-sys-color-on-primary: #690006;
        --md-sys-color-primary-container: #93000d;
        --md-sys-color-on-primary-container: #ffdad6;
        --md-sys-color-inverse-primary: #c00015;
        --md-sys-color-inverse-on-primary: #ffffff;
        --md-sys-color-secondary: #f4b9a0;
        --md-sys-color-on-secondary: #4b2716;
        --md-sys-color-secondary-container: #653c2a;
        --md-sys-color-on-secondary-container: #ffdbcd;
        --md-sys-color-tertiary: #fbb982;
        --md-sys-color-on-tertiary: #4d2700;
        --md-sys-color-tertiary-container: #683c10;
        --md-sys-color-on-tertiary-container: #ffdcc2;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-on-error: #690005;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error-container: #ffdad6
    }
    
    
    html > .blue {
        --md-sys-color-background: #fbf9f9;
        --md-sys-color-on-background: #1b1c1c;
        --md-sys-color-surface: #fbf9f9;
        --md-sys-color-surface-dim: #dbdad9;
        --md-sys-color-surface-bright: #fbf9f9;
        --md-sys-color-surface-container-lowest: #ffffff;
        --md-sys-color-surface-container-low: #f5f3f3;
        --md-sys-color-surface-container: #efeded;
        --md-sys-color-surface-container-high: #e9e8e7;
        --md-sys-color-surface-container-highest: #e3e2e2;
        --md-sys-color-on-surface: #1b1c1c;
        --md-sys-color-surface-variant: #e0e3e3;
        --md-sys-color-on-surface-variant: #444748;
        --md-sys-color-inverse-surface: #303031;
        --md-sys-color-inverse-on-surface: #f2f0f0;
        --md-sys-color-outline: #727576;
        --md-sys-color-outline-variant: #c4c7c7;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #4e55b1;
        --md-sys-color-primary: #3f46a1;
        --md-sys-color-on-primary: #f2f0ff;
        --md-sys-color-primary-container: #656cc9;
        --md-sys-color-on-primary-container: #fffbff;
        --md-sys-color-inverse-primary: #bec2ff;
        --md-sys-color-inverse-on-primary: #1d2280;
        --md-sys-color-secondary: #3a6280;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #bee1ff;
        --md-sys-color-on-secondary-container: #3c6582;
        --md-sys-color-tertiary: #384c8d;
        --md-sys-color-on-tertiary: #eff0ff;
        --md-sys-color-tertiary-container: #5d71b4;
        --md-sys-color-on-tertiary-container: #fefbff;
        --md-sys-color-error: #ba1a1a;
        --md-sys-color-on-error: #ffffff;
        --md-sys-color-error-container: #ffdad6;
        --md-sys-color-on-error-container: #410002;
    }
    html > .blue.dark {
        --md-sys-color-background: #121314;
        --md-sys-color-on-background: #e3e2e2;
        --md-sys-color-surface: #121314;
        --md-sys-color-surface-dim: #121314;
        --md-sys-color-surface-bright: #393939;
        --md-sys-color-surface-container-lowest: #0d0e0f;
        --md-sys-color-surface-container-low: #1b1c1c;
        --md-sys-color-surface-container: #1f2020;
        --md-sys-color-surface-container-high: #292a2a;
        --md-sys-color-surface-container-highest: #343535;
        --md-sys-color-on-surface: #e3e2e2;
        --md-sys-color-surface-variant: #444748;
        --md-sys-color-on-surface-variant: #c4c7c7;
        --md-sys-color-inverse-surface: #e3e2e2;
        --md-sys-color-inverse-on-surface: #303031;
        --md-sys-color-outline: #727576;
        --md-sys-color-outline-variant: #444748;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #bec2ff;
        --md-sys-color-primary: #bec2ff;
        --md-sys-color-on-primary: #1d2280;
        --md-sys-color-primary-container: #656cc9;
        --md-sys-color-on-primary-container: #fffbff;
        --md-sys-color-inverse-primary: #4e55b1;
        --md-sys-color-inverse-on-primary: #ffffff;
        --md-sys-color-secondary: #a3cbed;
        --md-sys-color-on-secondary: #00344f;
        --md-sys-color-secondary-container: #12405c;
        --md-sys-color-on-secondary-container: #84accd;
        --md-sys-color-tertiary: #b5c4ff;
        --md-sys-color-on-tertiary: #142c6b;
        --md-sys-color-tertiary-container: #5d71b4;
        --md-sys-color-on-tertiary-container: #fefbff;
        --md-sys-color-error: #ffb4ab;
        --md-sys-color-on-error: #690005;
        --md-sys-color-error-container: #93000a;
        --md-sys-color-on-error-container: #ffdad6;
    }
}

@layer components {


    .text-primary {
        color: var(--md-sys-color-primary) !important;
    }
    .bg-primary {
        background-color: var(--md-sys-color-primary) !important;
    }
    .text-onPrimary {
        color: var(--md-sys-color-on-primary) !important;
    }
    .bg-onPrimary {
        background-color: var(--md-sys-color-on-primary) !important;
    }
    .text-secondary {
        color: var(--md-sys-color-secondary) !important;
    }
    .bg-secondary {
        background-color: var(--md-sys-color-secondary) !important;
    }
    .text-onSecondary {
        color: var(--md-sys-color-on-secondary) !important;
    }
    .bg-onSecondary {
        background-color: var(--md-sys-color-on-secondary) !important;
    }
    .bg-background {
        background-color: var(--md-sys-color-background) !important;
    }
    .text-onBackground {
        color: var(--md-sys-color-on-background) !important;
    }
    .bg-surface {
        color: var(--md-sys-color-surface) !important;
    }
    .text-onSurface {
        color: var(--md-sys-color-on-surface) !important;
    }
    .bg-onSurface {
        background-color: var(--md-sys-color-on-surface) !important;
    }
    .surfaceContainer {
        background-color: var(--md-sys-color-surface-container) !important;
    }
    .surfaceContainerHigh {
        background-color: var(--md-sys-color-surface-container-high) !important;
    }
    .elevation {
        @apply relative;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
    }
    .elevation:hover {
        --md-elevation-level: 2;
    }
    .elevation:active {
        --md-elevation-level: 0;
    }

    .focus {
        @apply relative;
        --md-focus-ring-shape: 1.5rem;
    }


    /* nav位于顶层30 */
    nav,
    nav * {
        @apply z-30;
    }
    nav.fab {
        @apply fixed right-5 bottom-24 lg:bottom-5 z-40;
    }
    nav.fab * {
        @apply z-40;
    }
    nav .navigation {
        @apply right-0 bottom-0 w-full lg:bottom-5 z-30;
    }
    nav .navigation div {
        @apply lg:rounded-3xl lg:mx-auto lg:max-w-lg lg:overflow-clip;
    }

    
    #root > div > main.main {
        @apply w-full md:max-w-md lg:max-w-lg xl:max-w-3xl 2xl:max-w-4xl mx-auto min-h-screen mt-[3rem];
    }

    .page {
        @apply px-4 -mt-10;
    }





    /* md-dialog窗口下的h1标题字体大小 */
    md-dialog h1 {
        @apply text-2xl;
    }
    md-dialog h1 + p {
        @apply text-xl;
    }
    
    



    header.topBar {
        @apply z-40 border-b dark:border-none fixed top-0 right-0 w-screen max-h-16;
        transition: none;
    }
    header.topBar input {
        @apply max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl w-full outline-none rounded-lg focus:ring pl-4 py-2;
        background-color: var(--md-sys-color-surface-container);
    }


    ul.group {
        @apply flex flex-wrap gap-2;
    }
    ul.group li {
        @apply rounded-md p-4 flex flex-col justify-center items-center;
    }

    div.fixedWindow {
        @apply fixed z-50;
    }
    div.fixedWindow.fullScreen {
        @apply w-full h-full min-h-screen top-0 right-0;
    }
    div.fixedWindow.fullScreen.withBackButton > nav{
        @apply mb-8;
    }
    div.fixedWindow nav.backButton {
        @apply relative w-full border-b py-2;
    }



    div.eventsSurface {
        @apply fixed z-40 bottom-24 lg:bottom-5 left-4 w-1/2 md:w-52 xl:w-96;
    }
    div.eventsSurface > ul.events {
        @apply flex flex-col w-full gap-2;
    }
    div.event {
        @apply opacity-0 px-4 py-2 rounded-md shadow flex flex-row items-center justify-between;
        animation: 5s eventAnimation;
    }

    @keyframes eventAnimation {
        from {
            @apply opacity-0 block;
        } 20% {
            @apply opacity-100;
        } 80% {
            @apply opacity-100;
        } to {
            @apply opacity-0;
        }
    }





    div.sidebar > ul {
        @apply flex flex-col gap-4;
    }
    div.sidebar > ul > li {
        @apply rounded-xl space-y-2 px-4 py-2 bg-gradient-to-br from-blue-50/25 to-blue-100/75 dark:to-blue-800/25;
    }
    div.sidebar > ul > li > header > h1 {
        @apply font-medium text-base;
    }
    div.sidebar > ul > li > header > h1 + p {
        @apply font-normal text-sm italic;
    }
    div.sidebar > ul > li > footer.action {
        @apply flex items-center justify-end;
    }




    .goalDescription {
        @apply rounded-3xl relative bg-white;
    }
    .goalDescription div img {
        @apply w-64 h-48 rounded-3xl;
    }
    .goalDescription h1 {
        @apply text-2xl font-bold;
    }
    .goalDescription div.action {
        @apply flex flex-row justify-end;
    }
    







    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    input,
    ul li,
    nav,
    nav *,
    /* .navigation, */
    .eventsSurface,
    .events,
    .event {
        transition: all .15s;
    }
}

