
body {
    font-family: "Roboto", "Noto Sans SC";
}

/* 
 * Material Web Components Baseline color scheme tokens
 * https://m3.material.io/styles/color/the-color-system/tokens#7fd4440e-986d-443f-8b3a-4933bff16646
 */

:root {
    --md-sys-color-primary: #6750A4;
    --md-sys-color-primary-container: #EADDFF;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-container: #21005E;
    --md-sys-color-inverse-primary: #D0BCFF;

    --md-sys-color-secondary: #625B71;
    --md-sys-color-secondary-container: #E8DEF8;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-on-secondary-container: #1E192B;

    --md-sys-color-tertiary: #7D5260;
    --md-sys-color-tertiary-container: #FFD8E4;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-on-tertiary-container: #370B1E;

    --md-sys-color-surface: #FEF7FF;
    --md-sys-color-surface-dim: #DED8E1;
    --md-sys-color-surface-bright: #FEF7FF;
    --md-sys-color-surface-container-lowest: #FFFFFF;
    --md-sys-color-surface-container-low: #F7F2FA;
    --md-sys-color-surface-container: #F3EDF7;
    --md-sys-color-surface-container-high: #ECE6F0;
    --md-sys-color-surface-container-hihest: #E6E0E9;
    --md-sys-color-surface-variant: #E7E0EC;
    --md-sys-color-on-surface: #1C1B1F;
    --md-sys-color-on-surface-variant: #49454E;
    --md-sys-color-inverse-surface: #313033;
    --md-sys-color-inverse-on-surface: #F4EFF4;
    
    --md-sys-color-background: #FEF7FF;
    --md-sys-color-on-background: #1C1B1F;
    
    --md-sys-color-error: #B3261E;
    --md-sys-color-error-container: #F9DEDC;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-on-error-container: #410E0B;
    
    --md-sys-color-outline: #79747E;
    --md-sys-color-outline-variant: #C4C7C5;
    
    --md-sys-color-shadow: #000000;
    --md-sys-color-shadow-tint: #6750A4;

    --md-sys-color-scrim: #000000;
}

html > .dark {
    --md-sys-color-primary: #D0BCFF;
    --md-sys-color-primary-container: #4F378B;
    --md-sys-color-on-primary: #371E73;
    --md-sys-color-on-primary-container: #EADDFF;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #CCC2DC;
    --md-sys-color-secondary-container: #4A4458;
    --md-sys-color-on-secondary: #332D41;
    --md-sys-color-on-secondary-container: #E8DEF8;

    --md-sys-color-tertiary: #EFB8C8;
    --md-sys-color-tertiary-container: #633B48;
    --md-sys-color-on-tertiary: #492532;
    --md-sys-color-on-tertiary-container: #FFD8E4;

    --md-sys-color-surface: #141218;
    --md-sys-color-surface-dim: #141218;
    --md-sys-color-surface-bright: #3B383E;
    --md-sys-color-surface-container-lowest: #0F0D13;
    --md-sys-color-surface-container-low: #1D1B20;
    --md-sys-color-surface-container: #211F26;
    --md-sys-color-surface-container-high: #2B2930;
    --md-sys-color-surface-container-hihest: #36343B;
    --md-sys-color-surface-variant: #49454F;
    --md-sys-color-on-surface: #E6E1E5;
    --md-sys-color-on-surface-variant: #CAC4D0;
    --md-sys-color-inverse-surface: #E6E1E5;
    --md-sys-color-inverse-on-surface: #313033;
    
    --md-sys-color-background: #141218;
    --md-sys-color-on-background: #E6E1E5;
    
    --md-sys-color-error: #F2B8B5;
    --md-sys-color-error-container: #8C1D18;
    --md-sys-color-on-error: #601410;
    --md-sys-color-on-error-container: #F9DEDC;
    
    --md-sys-color-outline: #938F99;
    --md-sys-color-outline-variant: #444746;
    
    --md-sys-color-shadow: #000000;
    --md-sys-color-shadow-tint: #D0BCFF;

    --md-sys-color-scrim: #000000;
}

html > .green {
    --md-sys-color-primary: #316b25;
    --md-sys-color-primary-container: #b2f49c;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-container: #012200;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #54634d;
    --md-sys-color-secondary-container: #d7e8cc;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-on-secondary-container: #121f0e;

    --md-sys-color-tertiary: #386668;
    --md-sys-color-tertiary-container: #bcebee;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-on-tertiary-container: #002021;

    --md-sys-color-background: #fcfdf6;
    --md-sys-color-on-background: #1a1c18;

    --md-sys-color-surface: #fcfdf6;
    --md-sys-color-on-surface: #1a1c18;
    --md-sys-color-on-surface-variant: #43483f;
    --md-sys-color-surface-variant: #dfe4d7;
    --md-sys-color-outline: #73796e;

    --md-sys-color-surface-container: #f2f9ee;
    --md-sys-color-surface-container-high: #f1fdeb;
}
html > .green.dark {
    --md-sys-color-primary: #91d888;
    --md-sys-color-primary-container: #0b5313;
    --md-sys-color-on-primary: #003907;
    --md-sys-color-on-primary-container: #acf4a2;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #baccb3;
    --md-sys-color-secondary-container: #3b4b38;
    --md-sys-color-on-secondary: #253423;
    --md-sys-color-on-secondary-container: #d6e8ce;

    --md-sys-color-tertiary: #a0cfd3;
    --md-sys-color-tertiary-container: #1e4d52;
    --md-sys-color-on-tertiary: #00363b;
    --md-sys-color-on-tertiary-container: #bcebf0;

    --md-sys-color-background: #1a1c19;
    --md-sys-color-on-background: #e2e3dd;

    --md-sys-color-surface: #1a1c19;
    --md-sys-color-on-surface: #e2e3dd;
    --md-sys-color-on-surface-variant: #c2c8bd;
    --md-sys-color-surface-variant: #42493f;
    --md-sys-color-outline: #8c9388;

    --md-sys-color-surface-container: #262d26;
    --md-sys-color-surface-container-high: #365232;
}

html > .red {
    --md-sys-color-primary: #984061;
    --md-sys-color-primary-container: #ffd9e2;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-container: #3e001d;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #74565f;
    --md-sys-color-secondary-container: #ffd9e2;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-on-secondary-container: #2b151c;

    --md-sys-color-tertiary: #7c5635;
    --md-sys-color-tertiary-container: #ffdcc2;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-on-tertiary-container: #2e1500;

    --md-sys-color-background: #fffbff;
    --md-sys-color-on-background: #201a1b;

    --md-sys-color-surface: #fffbff;
    --md-sys-color-on-surface: #201a1b;
    --md-sys-color-on-surface-variant: #514347;
    --md-sys-color-surface-variant: #f2dde2;
    --md-sys-color-outline: #837377;

    --md-sys-color-surface-container: #fff6f8;
    --md-sys-color-surface-container-high: #fff3f6;
}
html > .red.dark {
    --md-sys-color-primary: #ffb0c8;
    --md-sys-color-primary-container: #7b2949;
    --md-sys-color-on-primary: #5e1133;
    --md-sys-color-on-primary-container: #ffd9e2;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #e2bdc6;
    --md-sys-color-secondary-container: #5a3f47;
    --md-sys-color-on-secondary: #422931;
    --md-sys-color-on-secondary-container: #ffd9e2;

    --md-sys-color-tertiary: #efbd94;
    --md-sys-color-tertiary-container: #623f20;
    --md-sys-color-on-tertiary: #48290c;
    --md-sys-color-on-tertiary-container: #ffdcc2;

    --md-sys-color-background: #201a1b;
    --md-sys-color-on-background: #ebe0e1;

    --md-sys-color-surface: #201a1b;
    --md-sys-color-on-surface: #ebe0e1;
    --md-sys-color-on-surface-variant: #d5c2c6;
    --md-sys-color-surface-variant: #514347;
    --md-sys-color-outline: #9e8c90;

    --md-sys-color-surface-container: #32262a;
    --md-sys-color-surface-container-high: #50333c;
}


html > .blue {
    --md-sys-color-primary: #006495;
    --md-sys-color-primary-container: #cbe6ff;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-container: #001e30;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #50606f;
    --md-sys-color-secondary-container: #d4e4f6;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-on-secondary-container: #0d1d29;

    --md-sys-color-tertiary: #66587b;
    --md-sys-color-tertiary-container: #ecdcff;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-on-tertiary-container: #211634;

    --md-sys-color-background: #fcfcff;
    --md-sys-color-on-background: #1a1c1e;

    --md-sys-color-surface: #fcfcff;
    --md-sys-color-on-surface: #1a1c1e;
    --md-sys-color-on-surface-variant: #41474d;
    --md-sys-color-surface-variant: #dee3ea;
    --md-sys-color-outline: #72787e;

    --md-sys-color-surface-container: #f4fbff;
    --md-sys-color-surface-container-high: #effaff;
}
html > .blue.dark {
    --md-sys-color-primary: #8fcdff;
    --md-sys-color-primary-container: #004b71;
    --md-sys-color-on-primary: #003450;
    --md-sys-color-on-primary-container: #cbe6ff;
    --md-sys-color-inverse-primary: #6750A4;

    --md-sys-color-secondary: #b8c8d9;
    --md-sys-color-secondary-container: #394856;
    --md-sys-color-on-secondary: #22323f;
    --md-sys-color-on-secondary-container: #d4e4f6;

    --md-sys-color-tertiary: #d0bfe7;
    --md-sys-color-tertiary-container: #4d4162;
    --md-sys-color-on-tertiary: #362b4a;
    --md-sys-color-on-tertiary-container: #ecdcff;

    --md-sys-color-background: #1a1c1e;
    --md-sys-color-on-background: #e2e2e5;

    --md-sys-color-surface: #1a1c1e;
    --md-sys-color-on-surface: #e2e2e5;
    --md-sys-color-on-surface-variant: #c1c7ce;
    --md-sys-color-surface-variant: #41474d;
    --md-sys-color-outline: #8b9198;

    --md-sys-color-surface-container: #222a31;
    --md-sys-color-surface-container-high: #2e4353;
}
