
body {
    font-family: "Roboto", "Noto Sans SC";
}

/* 
 * Material Web Components Baseline color scheme tokens
 * https://m3.material.io/styles/color/the-color-system/tokens#7fd4440e-986d-443f-8b3a-4933bff16646
 * https://lit.dev/playground/#gist=abcc77f636c1b76506df860db6dc0faf&view-mode=preview
 */

:root {
    --md-sys-color-background: #fff8f2;
    --md-sys-color-on-background: #1e1b16;
    --md-sys-color-surface: #fff8f2;
    --md-sys-color-surface-dim: #e0d9d0;
    --md-sys-color-surface-bright: #fff8f2;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #faf2e9;
    --md-sys-color-surface-container: #f5ede3;
    --md-sys-color-surface-container-high: #efe7de;
    --md-sys-color-surface-container-highest: #e9e1d8;
    --md-sys-color-on-surface: #1e1b16;
    --md-sys-color-surface-variant: #e9e1d7;
    --md-sys-color-on-surface-variant: #4b463f;
    --md-sys-color-inverse-surface: #34302a;
    --md-sys-color-inverse-on-surface: #f8efe6;
    --md-sys-color-outline: #79746c;
    --md-sys-color-outline-variant: #cdc5bc;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #765a15;
    --md-sys-color-primary: #493500;
    --md-sys-color-on-primary: #ebc576;
    --md-sys-color-primary-container: #725611;
    --md-sys-color-on-primary-container: #f5ce7e;
    --md-sys-color-inverse-primary: #e7c273;
    --md-sys-color-inverse-on-primary: #402d00;
    --md-sys-color-secondary: #6b5d3f;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #f6e1bc;
    --md-sys-color-on-secondary-container: #726345;
    --md-sys-color-tertiary: #253e23;
    --md-sys-color-on-tertiary: #b4d2ad;
    --md-sys-color-tertiary-container: #476143;
    --md-sys-color-on-tertiary-container: #bddbb5;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}

html > .dark {
    --md-sys-color-background: #16130e;
    --md-sys-color-on-background: #e9e1d8;
    --md-sys-color-surface: #16130e;
    --md-sys-color-surface-dim: #16130e;
    --md-sys-color-surface-bright: #3d3932;
    --md-sys-color-surface-container-lowest: #100e09;
    --md-sys-color-surface-container-low: #1e1b16;
    --md-sys-color-surface-container: #221f1a;
    --md-sys-color-surface-container-high: #2d2924;
    --md-sys-color-surface-container-highest: #38342e;
    --md-sys-color-on-surface: #e9e1d8;
    --md-sys-color-surface-variant: #4b463f;
    --md-sys-color-on-surface-variant: #cdc5bc;
    --md-sys-color-inverse-surface: #e9e1d8;
    --md-sys-color-inverse-on-surface: #34302a;
    --md-sys-color-outline: #79746c;
    --md-sys-color-outline-variant: #4b463f;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #e7c273;
    --md-sys-color-primary: #e7c273;
    --md-sys-color-on-primary: #402d00;
    --md-sys-color-primary-container: #553e00;
    --md-sys-color-on-primary-container: #cda95d;
    --md-sys-color-inverse-primary: #765a15;
    --md-sys-color-inverse-on-primary: #ffffff;
    --md-sys-color-secondary: #d8c4a0;
    --md-sys-color-on-secondary: #3a2f15;
    --md-sys-color-secondary-container: #4b3e23;
    --md-sys-color-on-secondary-container: #bba987;
    --md-sys-color-tertiary: #b1cfa9;
    --md-sys-color-on-tertiary: #1e361c;
    --md-sys-color-tertiary-container: #2e472b;
    --md-sys-color-on-tertiary-container: #98b591;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}

html > .green {
    --md-sys-color-background: #fff8f7;
    --md-sys-color-on-background: #251917;
    --md-sys-color-surface: #fff8f7;
    --md-sys-color-surface-dim: #ecd5d2;
    --md-sys-color-surface-bright: #fff8f7;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #fff0ef;
    --md-sys-color-surface-container: #ffe9e6;
    --md-sys-color-surface-container-high: #fae3e0;
    --md-sys-color-surface-container-highest: #f5dddb;
    --md-sys-color-on-surface: #251917;
    --md-sys-color-surface-variant: #fddbd7;
    --md-sys-color-on-surface-variant: #58413f;
    --md-sys-color-inverse-surface: #3b2d2c;
    --md-sys-color-inverse-on-surface: #ffedea;
    --md-sys-color-outline: #896e6b;
    --md-sys-color-outline-variant: #dfbfbc;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #386933;
    --md-sys-color-primary: #386933;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #b9f1ac;
    --md-sys-color-on-primary-container: #002202;
    --md-sys-color-inverse-primary: #9dd592;
    --md-sys-color-inverse-on-primary: #043908;
    --md-sys-color-secondary: #5b6237;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #e0e7b1;
    --md-sys-color-on-secondary-container: #191e00;
    --md-sys-color-tertiary: #42673c;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #c3eeb8;
    --md-sys-color-on-tertiary-container: #002202;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}
html > .green.dark {
    --md-sys-color-background: #1c100f;
    --md-sys-color-on-background: #f5dddb;
    --md-sys-color-surface: #1c100f;
    --md-sys-color-surface-dim: #1c100f;
    --md-sys-color-surface-bright: #443634;
    --md-sys-color-surface-container-lowest: #160b0a;
    --md-sys-color-surface-container-low: #251917;
    --md-sys-color-surface-container: #291d1b;
    --md-sys-color-surface-container-high: #342725;
    --md-sys-color-surface-container-highest: #403130;
    --md-sys-color-on-surface: #f5dddb;
    --md-sys-color-surface-variant: #58413f;
    --md-sys-color-on-surface-variant: #dfbfbc;
    --md-sys-color-inverse-surface: #f5dddb;
    --md-sys-color-inverse-on-surface: #3b2d2c;
    --md-sys-color-outline: #896e6b;
    --md-sys-color-outline-variant: #58413f;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #9dd592;
    --md-sys-color-primary: #9dd592;
    --md-sys-color-on-primary: #043908;
    --md-sys-color-primary-container: #20511d;
    --md-sys-color-on-primary-container: #b9f1ac;
    --md-sys-color-inverse-primary: #386933;
    --md-sys-color-inverse-on-primary: #ffffff;
    --md-sys-color-secondary: #c4cb97;
    --md-sys-color-on-secondary: #2e330d;
    --md-sys-color-secondary-container: #444a22;
    --md-sys-color-on-secondary-container: #e0e7b1;
    --md-sys-color-tertiary: #a8d29d;
    --md-sys-color-on-tertiary: #143812;
    --md-sys-color-tertiary-container: #2b4f27;
    --md-sys-color-on-tertiary-container: #c3eeb8;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}

html > .red {
    --md-sys-color-background: #fff8f7;
    --md-sys-color-on-background: #251917;
    --md-sys-color-surface: #fff8f7;
    --md-sys-color-surface-dim: #ecd5d2;
    --md-sys-color-surface-bright: #fff8f7;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #fff0ef;
    --md-sys-color-surface-container: #ffe9e6;
    --md-sys-color-surface-container-high: #fae3e0;
    --md-sys-color-surface-container-highest: #f5dddb;
    --md-sys-color-on-surface: #251917;
    --md-sys-color-surface-variant: #fddbd7;
    --md-sys-color-on-surface-variant: #58413f;
    --md-sys-color-inverse-surface: #3b2d2c;
    --md-sys-color-inverse-on-surface: #ffedea;
    --md-sys-color-outline: #896e6b;
    --md-sys-color-outline-variant: #dfbfbc;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #c00015;
    --md-sys-color-primary: #c00015;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #ffdad6;
    --md-sys-color-on-primary-container: #410002;
    --md-sys-color-inverse-primary: #ffb4ac;
    --md-sys-color-inverse-on-primary: #690006;
    --md-sys-color-secondary: #81533f;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #ffdbcd;
    --md-sys-color-on-secondary-container: #321204;
    --md-sys-color-tertiary: #845326;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #ffdcc2;
    --md-sys-color-on-tertiary-container: #2e1500;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}
html > .red.dark {
    --md-sys-color-background: #1c100f;
    --md-sys-color-on-background: #f5dddb;
    --md-sys-color-surface: #1c100f;
    --md-sys-color-surface-dim: #1c100f;
    --md-sys-color-surface-bright: #443634;
    --md-sys-color-surface-container-lowest: #160b0a;
    --md-sys-color-surface-container-low: #251917;
    --md-sys-color-surface-container: #291d1b;
    --md-sys-color-surface-container-high: #342725;
    --md-sys-color-surface-container-highest: #403130;
    --md-sys-color-on-surface: #f5dddb;
    --md-sys-color-surface-variant: #58413f;
    --md-sys-color-on-surface-variant: #dfbfbc;
    --md-sys-color-inverse-surface: #f5dddb;
    --md-sys-color-inverse-on-surface: #3b2d2c;
    --md-sys-color-outline: #896e6b;
    --md-sys-color-outline-variant: #58413f;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #ffb4ac;
    --md-sys-color-primary: #ffb4ac;
    --md-sys-color-on-primary: #690006;
    --md-sys-color-primary-container: #93000d;
    --md-sys-color-on-primary-container: #ffdad6;
    --md-sys-color-inverse-primary: #c00015;
    --md-sys-color-inverse-on-primary: #ffffff;
    --md-sys-color-secondary: #f4b9a0;
    --md-sys-color-on-secondary: #4b2716;
    --md-sys-color-secondary-container: #653c2a;
    --md-sys-color-on-secondary-container: #ffdbcd;
    --md-sys-color-tertiary: #fbb982;
    --md-sys-color-on-tertiary: #4d2700;
    --md-sys-color-tertiary-container: #683c10;
    --md-sys-color-on-tertiary-container: #ffdcc2;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6
}


html > .blue {
    --md-sys-color-background: #fbf9f9;
    --md-sys-color-on-background: #1b1c1c;
    --md-sys-color-surface: #fbf9f9;
    --md-sys-color-surface-dim: #dbdad9;
    --md-sys-color-surface-bright: #fbf9f9;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f5f3f3;
    --md-sys-color-surface-container: #efeded;
    --md-sys-color-surface-container-high: #e9e8e7;
    --md-sys-color-surface-container-highest: #e3e2e2;
    --md-sys-color-on-surface: #1b1c1c;
    --md-sys-color-surface-variant: #e0e3e3;
    --md-sys-color-on-surface-variant: #444748;
    --md-sys-color-inverse-surface: #303031;
    --md-sys-color-inverse-on-surface: #f2f0f0;
    --md-sys-color-outline: #727576;
    --md-sys-color-outline-variant: #c4c7c7;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #4e55b1;
    --md-sys-color-primary: #3f46a1;
    --md-sys-color-on-primary: #f2f0ff;
    --md-sys-color-primary-container: #656cc9;
    --md-sys-color-on-primary-container: #fffbff;
    --md-sys-color-inverse-primary: #bec2ff;
    --md-sys-color-inverse-on-primary: #1d2280;
    --md-sys-color-secondary: #3a6280;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #bee1ff;
    --md-sys-color-on-secondary-container: #3c6582;
    --md-sys-color-tertiary: #384c8d;
    --md-sys-color-on-tertiary: #eff0ff;
    --md-sys-color-tertiary-container: #5d71b4;
    --md-sys-color-on-tertiary-container: #fefbff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}
html > .blue.dark {
    --md-sys-color-background: #121314;
    --md-sys-color-on-background: #e3e2e2;
    --md-sys-color-surface: #121314;
    --md-sys-color-surface-dim: #121314;
    --md-sys-color-surface-bright: #393939;
    --md-sys-color-surface-container-lowest: #0d0e0f;
    --md-sys-color-surface-container-low: #1b1c1c;
    --md-sys-color-surface-container: #1f2020;
    --md-sys-color-surface-container-high: #292a2a;
    --md-sys-color-surface-container-highest: #343535;
    --md-sys-color-on-surface: #e3e2e2;
    --md-sys-color-surface-variant: #444748;
    --md-sys-color-on-surface-variant: #c4c7c7;
    --md-sys-color-inverse-surface: #e3e2e2;
    --md-sys-color-inverse-on-surface: #303031;
    --md-sys-color-outline: #727576;
    --md-sys-color-outline-variant: #444748;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #bec2ff;
    --md-sys-color-primary: #bec2ff;
    --md-sys-color-on-primary: #1d2280;
    --md-sys-color-primary-container: #656cc9;
    --md-sys-color-on-primary-container: #fffbff;
    --md-sys-color-inverse-primary: #4e55b1;
    --md-sys-color-inverse-on-primary: #ffffff;
    --md-sys-color-secondary: #a3cbed;
    --md-sys-color-on-secondary: #00344f;
    --md-sys-color-secondary-container: #12405c;
    --md-sys-color-on-secondary-container: #84accd;
    --md-sys-color-tertiary: #b5c4ff;
    --md-sys-color-on-tertiary: #142c6b;
    --md-sys-color-tertiary-container: #5d71b4;
    --md-sys-color-on-tertiary-container: #fefbff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}
